html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  background-color: rgb(255, 255, 255);
  color: #ffffff;
  overflow-x: hidden;
}
a{text-decoration: none;}
p {
  font-family: 'Shippori Mincho B1', serif;
}
/*navbar*/
.topnav {
  overflow: hidden;
  background-color: rgb(44, 44, 44);
  display: block;
  height:47px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.topnav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(255, 145, 0);
  color: rgb(12, 20, 95);
}
.topnav .icon {
  display: none;
  height: 100%;
}
.topnav a.active {
  font-size: 20px;
  float:left;
  font-family: 'Syne Mono', monospace;
} 
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
}
.overlay-content {
  position: relative;
  color: black;
  width: 100%;
  margin-top: 30px;
}
.overlay .closebtn {
  position: absolute;
  top: auto;
  right: 5%;
  font-size: 60px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.container {
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 5px red;
  color: rgb(253, 251, 251);
  font-size: 100px;
}
.content {
  padding:160px;
  font-size: 18px;
  color: #ffffff;
  background-image: radial-gradient(rgb(0, 10, 110) 5%, rgb(0, 11, 110) 15%, rgb(0, 0, 0) 60%);
  font-family: 'New Tegomin', serif;
}
.content img{
 height:200px; 
 width:auto;
 border-radius: 50%;
}
.content h2{
  font-size: auto;
  }
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;

}
#more {display: none;}
@media screen and (max-width:650px){
  .content {
    padding: 0px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }
  .content img{
   height:auto; 
   width:98%;
  }
  .content h2{
   font-size: 25px;
   }
}
@media screen and (max-width: 800px) {
  .center {
    font-size: 50px;
  }
}
@media screen and (max-width: 300px) {
  .center {
    font-size: 25px;
  }
}
.mybtn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(0,65,185);
  padding: 6px 10px;
  font-size: 20px;
  margin: 9px 5px;
  width: fit-content;
  transition: 0s;
  border: none;
  border-radius: 0%;
}
.mybtn:hover {
  background-color: rgb(32, 32, 32);
  color: white;
}
@media screen and (max-width: 600px) {
  .mybtn {
    font-size: 15px;
    padding: 5px 7px;
    margin: 6px 2px;
    width: 47%;
  }
}
@media screen and (max-width: 300px) {
  .mybtn {
    font-size: 15px;
    padding: 5px 7px;
    margin: 6px 2px;
    width: 100%;
  }
}
.column {
  float: left;
  padding: 10px;
}
.left,
.right {
  width: 0%;
}
.middle {
  padding: 50px 10px;
  width: 100%;
}
.column.middle{
  background-image: radial-gradient(rgb(255, 0, 0),orange);
} 
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {

  .left,
  .right,
  .middle {
    width: 100%;
  }

  .middle {
    padding: 10px 20px;
  }
}
/*dish card*/
.dishcard {
position: relative;
width: 45%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
color: #ffffff;
height: 110px;
margin-left: 3.33%;
float: left;
margin-bottom: 20px;
border-radius: 5px;
font-family:  'Raleway', sans-serif;
z-index: -1;
background-image: url(i.jpg);
}
.dishcard a{
position: absolute;
width: 100%;
height: 100%;
margin: 0;
background-color: transparent;
transition: 1.3s;
text-decoration: none;
}
.dishcard:hover{
background-color: lightgreen;
}
.dishcard img{
height: 80px;
width: 80px;
margin-top: 15px;
margin-left: 15px;
border-radius: 50%;
}
#vegimg{
position:absolute;
height: 20px;
width: 20px;
margin: 0 0 0 5px;
border-radius:0;
float: left;
}
.dishcard p1{
position: absolute;
top: 12px;
left:110px;
font-size: 20px;
color: rgb(61, 58, 58);
line-height: 100%;
max-width: 60%;
}
.dishcard p2{
position: absolute;
top: 10px;
right:15px;
font-size: 30px;
color: rgba(0, 0, 0, 0.753);
}
.dishcard p3 {
position: absolute;
bottom: 10px;
right:20px;
font-size: 20px;
color: rgb(73, 70, 70);
transition: 2s;
}
p3 :hover{
color:rgb(0, 0, 0);
}

@media screen and (max-width: 1000px){
.dishcard p1{
top: 28px;
left:auto;
font-size: 17px;
}
.dishcard p2{
top: 3px;
right:10px;
font-size: 17px;

}

}
@media screen and (max-width : 800px){
.dishcard{
width: 98%;
margin-left: 2.5%;
height: 100px;
}
.dishcard p1{
top: 12px;
left:110px;
font-size: 25px;

}
.dishcard p2{
top: 10px;
right:20px;
font-size: 30px;
}
}
@media screen and (max-width : 600px){
.dishcard{
width: 98%;
margin-left: 2.5%;
height: 100px;
}
.dishcard img{
height: 60px;
width: 60px;
margin-top: 10px;
margin-left: 10px;
border-radius: 50%;
}
.dishcard p1{
top: 28px;
left:80px;
font-size: 15px;
}
.dishcard p2{
top: 3px;
right:10px;
font-size: 15px;

}
.dishcard p3{
bottom: 10px;
right:15px;
font-size: 15px;
}
#vegimg{
position:absolute;
height: 17px;
width: 17px;
margin: 0 0 0 5px;
border-radius:0;
float: left;
}
}
@media screen and( max-width:400px){
.dishcard{
width: 98%;
margin-left: 2.5%;
height: 100px;
}
.dishcard img{
height: 30px;
width: 30px;
}
.dishcard p1{
font-size: 13px;
}
.dishcard p2{
font-size: 13px;
}
.dishcard p3{
font-size: 13px;
}

}
.column2 {
float: left;
width: 33%;
padding: 0 10px;
text-align: center;
}
.row2 {margin: 0 -5px;}
.row2:after {
content: "";
display: table;
clear: both;
}
@media screen and (max-width: 600px) {
.column2 {
width: 100%;
display: block;
margin-bottom: 20px;
}
}
.footer{
float: right;
padding: 20px 15px;
background-color: rgb(43, 41, 41);
color: #818181;
width: 100%;
display: block;
text-align: center;
margin-top: 50px;

}
.a1{
  width: 100%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
